/* MetaTune font */
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

/* Main font */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #000000;
    color: #ffffff;
    min-height: 100vh;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
}

#main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    margin-bottom: -10px;
}

#main-text span {
    font-family: 'Fontdiner Swanky', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
}

#main-text img {
    width: 82px;
    height: 82px;
}

#upload-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    min-width: 380px;
    border: 3px dashed #ffffff;
    border-radius: 50px;
    transition: 0.2s ease;
    opacity: 0.5;
}

#upload-block:hover {
    cursor: pointer;
    border: 3px dashed #9800FF;
    border-radius: 60px;
    opacity: 1;
    min-height: 120px;
    min-width: 390px;
}

#file {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#file:hover {
    cursor: pointer;
}

#file img {
    width: 38px;
    height: 38px;
}

#file span {
    font-size: 20px;
}

#loader button {
    border: 3px dashed #ffffff;
    background: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 40px;
    min-width: 200px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    opacity: 0.5;
    transition: 0.2s ease;
}

#loader button:hover {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    min-height: 40px;
    min-width: 300px;
    opacity: 1;
    background: #a050eb;
    background: linear-gradient(180deg,
        rgba(160, 80, 235, 1) 0%,
        rgba(134, 38, 224, 1) 100%
    );
}