{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Tags</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/edit-tags.css' %}?v=1">
</head>
<body>
    <h1 id="main-text">EDIT-TAGS</h1>

    <form method="post" id="tags-container" enctype="multipart/form-data">
        {% csrf_token %}

        {# Cover #}
        <div id="cover-container" style="{% if cover_image %}background-image: url('{{ cover_image }}'); {% endif %}">
            <input type="file" name="cover" id="cover-input" accept="image/jpeg, image/png" class="hidden">
            <label for="cover-input" id="cover-label">
                <img src="{% static 'edit.svg' %}" alt="cover" id="cover">
            </label>
        </div>

        {# Track name #}
        <div class="input-group">
            <label for="track-title" class="input-title">Track name</label>
            <input type="text" name="title" id="track-title" class="form-input" placeholder="Enter the track name" autocomplete="off">
        </div>

        {# Artist #}
        <div class="input-group">
            <label for="track-artist" class="input-title">Artist</label>
            <input type="text" name="artist" id="track-artist" class="form-input" placeholder="Enter artist name" autocomplete="off">
        </div>
    
        {# Album #}
        <div class="input-group">
            <label for="track-album" class="input-title">Album</label>
            <input type="text" name="album" id="track-album" class="form-input" placeholder="Enter album name" autocomplete="off">
        </div>
    
        {# Lyrics #}
        <div class="input-group">
            <label for="track-lyrics" class="input-title">Lyrics</label>
            <textarea name="lyrics" id="track-lyrics" class="form-textarea" placeholder="Enter track lyrics..." autocomplete="off"></textarea>
        </div>

    </form>

</body>
</html>