{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Tags</title>
    <link rel="stylesheet" href="{% static 'css/edit-tags.css' %}?=v1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?=v2">
</head>
<body>
    <h1 id="main-text">EDIT-TAGS</h1>

    <form method="post" id="tags-container" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="cover-container">
            <input type="file" name="cover" id="cover-input" accept="image/jpeg, image/png" class="hidden">
            <label for="cover-input" id="cover-label">
                <img src="{% static 'edit.svg' %}" alt="cover" id="cover">
            </label>
        </div>
    </form>

</body>
</html>