{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Upload-MP3</title>
    <link rel="stylesheet" href="{% static 'css/load-track.css' %}?=v4">
</head>
<body>
    <div id="loader">
        <div id="main-text">
            <span>MetaTune</span>
            <img src="{% static 'icon.svg' %}" alt="icon">
        </div>
        <label for="input-file" id="upload-block">
            <input type="file" name="input-file" id="input-file" accept=".mp3,.wav" hidden>

            <span id="file">
                <img src="{% static 'file.svg' %}" alt="file">
                <span>Перетащите MP3-файл сюда</span>
            </span>
        </label>
        <button type="submit">Продолжить<img src="{% static 'continue.svg' %}" alt="continue"></button>
    </div>
</body>
</html>